<div id="page-posts" class="container">

	<div class="row">
		<button class="six columns" ng-click="createPost()">Create post</button>
		<button class="six columns" ng-click="logout()">Logout</button>
	</div>

	<table class="u-full-width">
		<tbody>
			<tr ng-repeat="x in posts">
				<td>
					<a href="#/posts/{{x.id}}">{{ x.title }}</a>
				</td>
				<td>
					<ul class="ul-tags">
						<li ng-repeat="y in x.tags"><a>{{ y }}</a></li>
					</ul>
				</td>
				<td>
					<a ng-click="delete(x.id)">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>

</div>